{
  "parser": "babel-eslint",
  "extends": "eslint:recommended",
  "rules": {
    "no-console": 0,
    "strict": 0,
    "semi": [2, "always"],
    "quotes": [2, "single"]
  },
  "env": {
    "browser": true,
    "node": true
  },
  "globals": {
    "__modules": true,
    "describe": true,
    "it": true,
    "beforeEach": true,
    "after": true,
    "Promise": true
  }
}