@import './styles-import.css';

body {
  background-color: lightgoldenrodyellow;
  /*background-image: url('./test2.jpg');*/
  /*background-image: url('./test.png');*/
  /*animation: animatedBackground 1s linear infinite;*/
}

@keyframes animatedBackground {
  0% { background-color: lime; }
  25% { background-color: fuchsia; }
  50% { background-color: aqua; }
  75% { background-color: darkviolet; }
  100% { background-color: lime; }
}